.img--handler--container {
}

.img--buttom--decoration {
	display: inline-block;
	padding: 10px 15px;
	background-color: #f0f0f0;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}

.img--buttom--decoration:hover {
	background-color: #e0e0e0;
}

.img--buttom--decoration:active {
	background-color: #d0d0d0;
}
.img--handler {
	max-width: 30rem;
	max-height: 20rem;
	padding-block: 2.5rem;
	border: 2px dashed var(--drag--border);
	background-color: var(--drag--back);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
	cursor: pointer;
	margin-inline: auto;
}

.img--handler > svg {
	margin-top: 1rem;
}

.img--handler > p {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.8;
	color: var(--gray--font);
}
